:host {
  position: relative;
  display: block;

  &:hover {
    cursor: pointer;

    img {
      transform: scale(1.2);
    }
  }

  img {
    width: 100px;
    height: 100px;
    transition: var(--transition);

    &.big {
      width: 200px;
      height: 200px;
    }
  }

  &:before {
    content: "";
    background-image: url("src/assets/buttons/btn_item_backdrop.png");
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &.big {
    &:before {
      width: 200px;
      height: 200px;
    }
  }
}

h2 {
  text-align: center;

  &.gold {
    color: var(--color-gold);
  }
  &.heart {
    color: var(--color-red);
  }
}
