:host {
    position: relative;
    display: block;

    &:before {
        content: '';
        background-image: url('src/assets/buttons/btn_item_backdrop.png');
        background-size: contain;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

}

img {
    width: 100px;
    height: 100px;

    &.big {
        width: 200px;
        height: 200px;
    }
}