:host {
  width: 250px;
  height: 75px;
  background: url('src/assets/frames/frame_status.png');
  background-repeat: no-repeat;
  position: relative;
  background-size: contain;
  display: grid;
}

img {
  position: absolute;
  top: 4px;
  left: 12px;
  width: 69px;
}

app-button {
  position: absolute;
  right: 15px;
  top: 7px;
}

h2 {
  color: white;
  text-align: center;
  align-self: center;
}