.info-frame {
  background: url('src/assets/frames/frame_info_middle.png');
  background-repeat: repeat-y;
  width: 100%;
  margin-top: 20%;
  height: 80%;
  position: relative;
  display: block;
  background-size: contain;

  &::before,
  &::after {
    display: block;
    content: '';
    width: 450px;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
  }

  &:before {
    background-image: url('src/assets/frames/frame_info_top.png');
    top: -10%;
    height: 223px;
  }

  &:after {
    background-image: url('src/assets/frames/frame_info_bottom.png');
    bottom: -10%;
    height: 253px;
  }
}

.content {
  position: absolute;
  text-align: center;
  height: 70%;
  margin-top: 30%;
  width: calc(100% - 12rem);
  z-index: 2;
  padding-left: 6rem;
  padding-right: 6rem;
}

.user-info {
  margin-bottom: 2rem;
}

.value {
  display: grid;
  grid-template-columns: 1fr 1fr;

  h2 {
    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }
}