:host {
  width: 100%;
  height: 100%;
  display: block;
  display: grid;
}

.content {
  display: grid;
  grid-template-columns: 450px 2fr;
  grid-gap: 2rem;
  grid-template-areas: 'player-stats inventory';
  margin-top: 50px;
  margin-bottom: 50px;
  height: calc(100% - 100px);
}

app-inventory {
  grid-area: inventory;
}