:host {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'menu';
  grid-template-rows: 200px 1fr 200px;
  height: 100%;
  justify-items: center;
  padding: 0 1rem;
  max-width: 1500px;
  margin: auto;
}

app-header {
  grid-area: header;
}

main {
  grid-area: main;
  display: grid;
  align-items: center;
  justify-items: center;
}

app-footer {
  grid-area: menu;
}