:host {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'menu';
  grid-template-rows: 200px 1fr 200px;
  height: 100%;
  justify-items: center;
  padding: 0 1rem;
  max-width: 1500px;
  margin: auto;
}

header {
  grid-area: header;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto 1fr;
  width: 100%;

  .status {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1rem;
  }
}

main {
  grid-area: main;
  display: grid;
  align-items: center;
  justify-items: center;

  .content {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 3rem;
  }

  button.start {
    display: block;
    background: url('src/assets/buttons/btn_start.png');
    background-repeat: no-repeat;
    width: 370px;
    height: 230px;
    position: relative;

    &::after {
      top: 0;
      left: 0;
      content: '';
      position: absolute;
      display: block;
      background: url('src/assets/buttons/btn_start_hover.png');
      background-repeat: no-repeat;
      width: 370px;
      height: 230px;
      opacity: 0;
      transition: all 250ms ease-out;
    }

    &:hover {
      cursor: pointer;

      &::after {
        opacity: 1;
      }
    }
  }
}

nav {
  grid-area: menu;
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-gap: 3rem;
  justify-items: center;
  align-items: center;
}