button {
  box-shadow: 6px 6px 0px 2px rgba(0, 0, 0, 0.4), 4px 4px 5px rgba(0, 0, 0, 0.2);
  transition: all 250ms ease-out;

  &:hover {
    box-shadow: 2px 4px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform: translateY(4px);
  }
}

.menu {
  align-items: center;
  background-image: url('src/assets/buttons/btn_menu.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 20px;
  display: grid;
  height: 100px;
  justify-items: center;
  position: relative;
  width: 100px;

  img {
    height: auto;
    margin: auto;
    width: 70%;
  }

  app-badge {
    position: absolute;
    right: -11px;
    top: -15px;
  }
}

.add {
  background-image: url('src/assets/buttons/btn_add.png');
  background-size: contain;
  height: 50px;
  width: 50px;
  border-radius: 7px;
}