.menu {
  box-shadow: 6px 6px 5px 5px rgba(0, 0, 0, 0.2),
    4px 4px 5px rgba(0, 0, 0, 0.2);
  transition: all 250ms ease-out;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  background: url('src/assets/buttons/btn_menu.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;

  &:hover {
    cursor: pointer;
    transform: translateY(4px);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  }

}

img {
  margin: auto;
  width: 70%;
  height: auto;
}

app-badge {
  top: -15px;
  right: -11px;
  position: absolute;
}