:root {
  --box-shadow: 6px 6px 0px 2px rgba(0, 0, 0, 0.2),
    4px 4px 5px rgba(0, 0, 0, 0.2);
  --transition: all 250ms ease-out;
  --color-beige: #ddc5ab;
  --color-text: white;
  --color-backdrop: #332e27;
  --color-orange: #f8913f;
  --color-brown: #877862;
  --color-red: #ff3737;
  --color-gold: #faaf16;
}
