@import url('https://fonts.googleapis.com/css?family=Changa:400,700');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Changa';
  background: url('assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

img {
  margin: 0;
  padding: 0;
}